.navbar.navbar-expand-lg.navbar-success.bg-success
    .navbar-brand 
        bookster!
    .dropdown
        %button.btn.btn-success.dropdown-toggle{"data-bs-toggle":"dropdown"} 
            Books
            %ul.dropdown-menu   
                %li
                    %a.dropdown-item(href="books-list.html") Wheel of Time
                %li
                    %a.dropdown-item(href="books-list.html") Lord of The Rings
                %li
                    %a.dropdown-item(href="books-list.html") Stormlight Archives
